.common{
    display: block;
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 83.9%;
}
.modalLabel{
    @extend .common;
}
.itemLabel{
    @extend .common;
    display: inline;
}