.item{
    width: 100%;
    max-height: 450px;
    padding: 37px 0px 37px 60px; 
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.item:not(:last-child){
    margin: 0 0 46px 0;
}
.itemContent{
    display: flex;
    align-items: center;
}
.contentText{
    margin: 0 0 0 40px;
}
.contentButtons{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    box-sizing: content-box;
}