.common {
    display: flex;
    justify-content: space-between;
}
.modal{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(180, 180, 180, 0.38);
}
.modalContainer{
    padding: 60px 80px;
    width: 1000px;
    height: 640px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 1px rgba(45, 45, 45, 0.25);
}
.inputGroup{
    margin: 0 0 25px;
}
.modalTitle{
    margin: 0 0 50px;
    font-weight: 600;
    font-size: 48px;
    line-height: 83.9%;
    text-align: center;
}
.formContainer{
    @extend .common;
}
.observeFormContainer{
    @extend .common;
    padding: 0 70px;
}
.uploadButton{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 43px;
    margin: 0 10px 0 0;
    border-radius: 7px;
    background: rgba(41, 209, 179, 0.45);
    width: 191px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 83.9%;
    color: #FFFFFF;
}
.uploadButton:after{
    content: url('../../img/upload.svg');  //  Сюда мнемонику плюс можно поставить если хочешь
    position: absolute ; // У кнопки position : relative ; нужно поставить
    top: 50%;
    left: 20px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.hiddenButton{
    display: none;
}
.span{
    font-size: 14px;

}

