.common {
    display: flex;
    justify-content: space-between;
}
.modal{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(180, 180, 180, 0.38);
}
.modalContainer{
    padding: 60px 80px;
    width: 1000px;
    height: 640px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 1px rgba(45, 45, 45, 0.25);
}
.modalTitle{
    margin: 0 0 50px;
    font-weight: 600;
    font-size: 48px;
    line-height: 83.9%;
    text-align: center;
}
.formContainer{
    @extend .common;
}
.observeFormContainer{
    @extend .common;
    padding: 0 70px;
}
