.header {
    $self: &;
    height: 110px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -19px 82px -3px rgba(0, 99, 69, 0.25);
    padding: 10px 208px;

    #{$self}Container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}