.common{
    display: block;
    width: 100%;
    height: 100%;
}
.avatarContainer{
    width: 180px;
    height: 294px;
    margin: 0 50px 0 0;
}
.avatarContainer img{
    @extend .common;
    object-fit: cover;
}
