.itemGroup{
    margin: 0 0 15px;
}
.classNameLabel{
    &-itemLabel{
        display: inline;
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 83.9%;
    }
    &-bigText{
        margin: 0 0 5px;
        font-weight: 500;
        font-size: 36px;
    }
}
.classNameItem{
    &-littleText{
        font-size: 16px;
        line-height: 100%;
    }
}

